<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" thread-count="2" parallel="tests">


    <test name="Chrometest" >
        <classes>
            <class name="SeleniumGridDemo">
                <parameter name="browser" value="chrome"></parameter>
            </class>
        </classes>
    </test>

    <test name="FFTEst">
        <classes>
            <class name="SeleniumGridDemo">
                <parameter name="browser" value="firefox"></parameter>
            </class>
        </classes>
    </test>
</suite>